<h1>Public::Posts#show</h1>

<siv class="row">
  <div class="col-md-4">
    <h3>日付</h3>
    <%= l(@post.start_time, format: :date) %>
    <h3>体重</h3>
    <%= @post.weight %>kg
    <h3>メニュ-</h3>
    <table class="table">
      <thead>
        <tr>
          <th>メニュ-</th>
          <th>部位</th>
          <th>回数</th>
        </tr>
      </thead>
      <tbody>
        <% @post.menus.each do |menu| %>
          <tr>
            <td><%= menu.name %></td>
            <td><%= menu.genre.name %></td>
            <td><%= menu.number_of_times %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'mypage', mypage_path, class: 'btn btn-secondary' %>
    <%= link_to 'edit', edit_post_path(@post), class: 'btn btn-warning' %>
    <%= link_to 'destroy', post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に削除しますか?" } %>
  </div>
  <div class="col-md-8">
    <div>
      <canvas id="myChart" data-target="<%= @post.id %>"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%= javascript_pack_tag "line_chart.js" %>

